<body>
    <div class="container center-content">
        <div class="container-box">
            <div class="row">
                <div class="col-md-6">
                    <img src="assets/logo.png" alt="Logo" class="img-fluid">
                </div>

                <div class="col-md-6" style="display:flex ; justify-content: center; flex-direction: column;">
                    <h3 class="text-primary mb-4">!مرحباً بعودتك</h3>

                    <!-- Forget Password Form -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-container">
                                <form [formGroup]="forgetPasswordForm" (ngSubmit)="sendResetLink()">
                                    <div class="mb-3">
                                        <input formControlName="email" type="email" class="form-control"
                                            id="exampleInputEmail1" placeholder="البريد الإلكتروني">
                                        <div
                                            *ngIf="forgetPasswordForm.controls['email'].invalid &&
                                            (forgetPasswordForm.controls['email'].touched || forgetPasswordForm.controls['email'].dirty)">
                                            <div *ngIf="forgetPasswordForm.controls['email'].hasError('required')"
                                                class="validation-message">يرجي إدخال البريد الإلكتروني*</div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary">إرسال رابط استعادة كلمة
                                        المرور</button>

                                    <p class="mt-3">لديك حساب؟ <a routerLink="/login">تسجيل الدخول</a></p>
                                    <p class="mt-3">ليس لديك حساب؟ <a routerLink="/signup">إنشاء حساب جديد؟</a></p>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</body>